<html>
    <head>
        <title>Scrabble Point Counter-Checker Soldier Spy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Users/Guest/Scrabble/web/styles.css">
    </head>
    <body class="scrabble-picture" style="background: url('/Users/Guest/Scrabble/web/img/areyouready.jpg')">
        <div class="container">
            <h1>Scrabble Point Counter-Checker Soldier Spy</h1>
            <form action="/view_results">
                <div class="form-group">
                    <label for="word"></label>
                    <input type="text" name="word" class="form-control" required>
                </div>

            <button type="submit" class="btn btn-danger">Check Score!</button>
        </form>
        </div>
    </body>
</html>
